@import 'tailwindcss';

@theme{
  
}

@layer components{
  .article {
    @apply my-5 *:block
  }
  .formInput,.formUpdateInput{
    @apply rounded-xl py-2 pr-16 pl-2 bg-[#FFFFFF] text-gray-950 border-black border-2 outline-none focus:bg-gray-950 focus:text-white
  }


  .btnPrimary{
    @apply py-2 px-5 rounded-full border max-w-fit m-auto hover:bg-white hover:text-[#0f0f0f] duration-200 ease-in-out
  }

  .btnSecondary{
    @apply bg-white text-[#0f0f0f] hover:text-white hover:bg-[#0f0f0f]
  }

  .hiddenForm{
    @apply absolute top-10/12 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-6 bg-[#0a0a23] rounded shadow
  }

  .btnDiv{
    @apply flex gap-2 justify-center items-center mt-5
  }
}

@layer base{
  body{
    @apply dark:bg-[#0f0f0f] dark:text-white
  }
  p{
    @apply text-center text-lg mb-5
  }
  h1{
    @apply font-mono font-bold text-center text-3xl
  }
  h2{
    @apply text-2xl text-center font-bold mb-4
  }
  li{
    @apply bg-[#181717]  rounded-xl p-5 w-fit m-auto
  }

  form{
    @apply bg-[#181717]  rounded-xl p-5 w-fit m-auto
  }

  main{
    @apply mt-10 p-4 flex flex-wrap justify-center align-middle gap-5
  }

  span{
    @apply text-gray-400 font-semibold
  }
}