@import 'tailwindcss';

@theme{
  --color-freeCodeCamp: #0a0a23;
}

@layer components{
  .article {
    @apply my-5 *:block
  }
  .formInput{
    @apply border py-2 pr-16 pl-2
  }

  .btnPrimary{
    @apply py-2 px-5 rounded-full border max-w-fit m-auto
  }

  .hiddenForm{
    @apply hidden absolute m-auto top-50 left-50 bg-amber-600
  }
}

@layer base{
  h1{
    @apply font-mono font-bold text-center text-3xl
  }
  h2{
    @apply text-2xl text-center font-bold mb-4
  }
  li{
    @apply bg-red-500 my-4 p-2 grid grid-cols-2 gap-2 *:text-wrap
  }

  form{
    @apply border rounded-xl p-5  w-fit m-auto
  }

  ol{
    @apply list-decimal pl-5
  }
}